# Built-in Functions ที่ควรรู้

## `abs(args)`
ส่งออกเป็นค่าสัมบูรณ์ของค่าที่รับเข้าไป

**Input** - `args` เป็น `float` หรือ `int`

**Output** - `float` หรือ `int` เป็นค่าสัมบูรณ์ของค่านั้นๆ

In [3]:
abs(-12)

12

In [4]:
abs(-112.44)

112.44

----
## `divmod(args1, args2)`
หาร `args1` ด้วย `args2` และส่งออกเป็นผลหารและเศษ

**Input**
* `args1` - เศษ (`float` หรือ `int`)
* `args2` - ส่วน (`float` หรือ `int`)

**Output** - `tuple` ในรูปแบบ `(ผลหาร, เศษ)`

In [6]:
divmod(4,2)

(2, 0)

In [7]:
divmod(7,2)

(3, 1)

-----
## `float(args)`

แปลง `args` เป็น `float`

**Input** - `args` (ตัวเลขหรือ string ที่อยู่ในรูปแบบตัวเลข)

**Output** - ค่าที่ใส่เข้าไปในรูปแบบ `float`

In [9]:
float("417.762")

417.762

In [10]:
float(15)

15.0

In [11]:
float(5.56)

5.56

In [13]:
float("history of the entire world, i guess") #ไม่สามารถแปลงได้

ValueError: could not convert string to float: 'history of the entire world, i guess'

-----
## `input(args)`
รับค่าในรูปแบบ `string`

**Input** - `args` ค่าที่ผู้ใช้กำหนด

**Output** - ค่าที่ใส่เข้าไปในรูปแบบ `string`

----
## `int(args)`
แปลง `args` เป็น `int`

**Input** - `args` (ตัวเลขหรือ string ที่อยู่ในรูปแบบตัวเลข)

**Output** - ค่าที่ใส่เข้าไปในรูปแบบ `int`

In [22]:
int("6")

6

In [21]:
int(12.7)

12

In [23]:
int("5.45") #แปลงไม่ได้

ValueError: invalid literal for int() with base 10: '5.45'

-----

## `len(args)`
ส่งออกค่าของความยาวค่าที่ใส่เข้าไป

**Input** - `args` (`string`, `tuple`, `list` หรือ `range`)

**Output** - `int` เป็นความยาวของ input

In [26]:
len("tornado")

7

In [27]:
jingles = ["died in a tornado", "the sun is a deadly lazer", "society"]
len(jingles)

3

In [29]:
len(range(0,5))

5

----
## `list(args)`
แปลง `iterable` เป็น `list`

**Input** - `args` `iterable` (`tuple`, `list` หรือ `dict`)

**Output** - Input ในรูปแบบของ `list`

In [30]:
mytuple = (1, 2, 3, 4, 5)
list(mytuple)

[1, 2, 3, 4, 5]

----
## `max(args)`
หาค่าที่มากที่สุดใน `iterable` ที่ใส่เข้ามา

**Input** - `args` `iterable` (`tuple`, `list` หรือ `dict`)

**Output** - ค่าที่มากที่สุดใน Input

In [31]:
year = [1917, 1991, 1939, 1945]
max(year)

1991

In [36]:
text = ["a", "b", "e", "d"] # e เป็นตัวอักษรตัวที่ 5 ซึ่งมากกว่าทุกตัว
max(text)

'e'

----
## `min(args)`
หาค่าที่น้อยที่สุดใน `iterable` ที่ใส่เข้ามา

**Input** - `args` `iterable` (`tuple`, `list` หรือ `dict`)

**Output** - ค่าที่น้อยที่สุดใน Input

In [37]:
weight = [49, 61, 29, 78, 37]
min(weight)

29

In [38]:
text = ["q", "w", "e", "r", "t", "y"]
min(text)

'e'

----
## `range(args)` / `range(args1, args2, args3)`

**Input**
* `args` - `int` Stop

* `args1` - `int` Start
* `args2` - `int` Stop
* `args3` - `int` Step (Optional)

**Output** - `range()`

In [40]:
list(range(5))

[0, 1, 2, 3, 4]

In [41]:
list(range(4, 9))

[4, 5, 6, 7, 8]

In [42]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

---
## `sorted(args, key=None, reverse=False)`
เรียงค่าใน `list` จากน้อยไปมาก

**Input**
* `args` - `iterable` (`tuple`, `list` หรือ `dict`)
* `key=`- `None` or (Ex: `str.lower`, `lambda i: len(i)`) (Optional)
* `reverse=` - Boolean `False` or `True` (Optional)

**Output** - `list`

In [43]:
mylist = [4, 7, 1, 9, 14, 5, 7]
sorted(mylist)

[1, 4, 5, 7, 7, 9, 14]

In [2]:
ourlist = ["slavsya", "otechestvo", "nashe", "svobodnoye"]
sorted(ourlist, key=len)

['nashe', 'slavsya', 'otechestvo', 'svobodnoye']

In [47]:
mytuple = (1, 9, 10, 19, 17)
sorted(mytuple, reverse=True)

[19, 17, 10, 9, 1]

---
## `str(args)`
แปลงค่าเป็น `string`

**Input** - (`args` `int` `float` `list` `tuple`)

**Output** - Input ในรูปแบบ `string`

In [48]:
str(1991)

'1991'

In [49]:
str([1, 3, 5, 7, 9])

'[1, 3, 5, 7, 9]'

In [51]:
str("จะแปลงทำไม")

'จะแปลงทำไม'

---
## `sum(args)`
รวมค่าใน `iterable` ที่ใส่เข้ามา

**Input** - `args` - `iterable` (`tuple`, `list` หรือ `dict`)

**Output** - `int` or `float`

In [52]:
wearenumberone = [1, 1, 1, 1, 1, 1, 1, 1]
sum(wearenumberone)

8

In [53]:
sum([1205, 768])

1973

In [54]:
caliber = [5.56, 6.5, 7.62, 12.7]
sum(caliber)

32.379999999999995

---
## type(args)

แสดงประเภทของ `args`

**Input** - `args` `int` `float` `list` `tuple` ฯลฯ

**Output** - `class`

In [56]:
print(type("This is string"))

<class 'str'>

In [57]:
print(type(43982.44))

<class 'float'>

In [58]:
print(type(2345))

<class 'int'>

In [60]:
central_pwr = ["Deutschland", "Austria-Hungary", "Ottoman Empire", "Bulgaria"]
print(type(central_pwr))

<class 'list'>